<!--
  *packageName      : templates.pages.basicMgmt
  *fileName         : machineDetail.html
  *author           : WizUser11
  *date             : 2024-08-29
  *======================================================
  *DATE             AUTHOR               NOTE
  *------------------------------------------------------
  * 2024-08-29         WizUser11             최초 생성
 -->

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/subLayout}" lang="ko">

<th:block layout:fragment="script">
    <script th:src="@{/basicMgmt/machine/machineDetail.js}"></script>
</th:block>
<!--content-->
<section layout:fragment="content">
    <body>
    <div id="addPop">
        <div class="menu">
            <div class="page-header">
                <h3>기준정보
                    <span> /설비관리</span>
                </h3>
            </div>
            <div class="icon">
                <button type="submit" id="btnUpdate" form="addForm" class="btn btn-success" >수정</button>
                <button type="submit" id="btnSave" form="addForm" class="btn btn-success" >저장</button>
                <button type="button" id="btnDelete" class="btn btn-success" >삭제</button>
                <button type="button" id="btnClose" class="btn btn-print">닫기
                </button>
            </div>
        </div>
        <div id="main">
            <span class="form-notice float-end"><b>*</b> 표시는 필수 기입 사항 입니다</span>
            <form id="addForm" th:object="${mcdto}" class="needs-validation" novalidate>
                <table id="formTable" class="table table-bordered text-center">
                    <tbody>
                    <input type="hidden" th:field="*{mcID}">
                    <tr>
                        <td class="col-md-2">
                            <label><span class="form-notice">*</span>설비명</label>
                        </td>
                        <td class="left">
                            <input type="text" class="form-control input-necessary"
                                   th:field="*{mcName}"
                                   placeholder="설비명을 입력하세요" required>
                            <div class="invalid-feedback">
                                설비명을 입력해주세요.
                            </div>
                        </td>
                        <td class="col-md-2">
                            <label>등록자</label>
                        </td>
                        <td class="left">
                            <input type="text" class="form-control" th:field="*{userName}"
                                   readonly="readonly">
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-2">
                            <label>설비유형</label>
                        </td>
                        <td class="left">
                            <select class="form-control w100px display-inline-block" th:field="*{mcTypeID}">
                                <option th:each="option : ${cboMcType}"
                                        th:value="${option.codeID}" th:text="${option.codeName}">
                                </option>
                            </select>
                        </td>
                        <td class="col-md-2">
                            <label>설치일자</label>
                        </td>
                        <td class="left">
                            <input type="date" class="form-control" th:field="*{installDate}">
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-2">
                            <label>공급처</label>
                        </td>
                        <td class="left">
                            <input type="text" class="form-control" th:field="*{vendorName}">
                        </td>
                        <td class="col-md-2">
                            <label>제작사</label>
                        </td>
                        <td class="left">
                            <input type="text" class="form-control" th:field="*{manufactureName}">
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-2">
                            <label>연락처</label>
                        </td>
                        <td class="left">
                            <input type="text" class="form-control" th:field="*{contacts}">
                        </td>
                        <td class="col-md-2">
                            <label><span class="form-notice">*</span>설비관리번호</label></td>
                        <td class="left">
                            <input type="text" class="form-control input-necessary" th:field="*{mcNo}" required>
                            <div class="invalid-feedback">
                                설비관리번호를 입력해주세요.
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-2">
                            <label>설비용량(전기)</label>
                        </td>
                        <td colspan="3" class="left">
                            <label>용량 :</label>
                            <input type="number" class="form-control w250px display-inline-block m-r-1"
                                   th:field="*{elecCapacity}"
                                   placeholder="설비용량(전기)를 입력하세요">
                            <label>단위 :</label>
                            <select class="form-control w100px display-inline-block" th:field="*{elecCapacityUnitClss}">
                                <option th:each="option : ${cboUnit}"
                                        th:value="${option.codeID}" th:text="${option.codeName}">
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-2">
                            <label>설비용량(스팀)</label></td>
                        <td colspan="3" class="left">
                            <label>용량 :</label>
                            <input type="number" class="form-control w250px display-inline-block m-r-1"
                                   th:field="*{steamCapacity}"
                                   placeholder="설비용량(스팀)를 입력하세요">
                            <label>단위 :</label>
                            <select class="form-control w100px display-inline-block" th:field="*{steamCapacityUnitClss}">
                                <option th:each="option : ${cboUnit}"
                                        th:value="${option.codeID}" th:text="${option.codeName}">
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-2">
                            <label>설치업체</label>
                        </td>
                        <td class="left">
                            <input type="hidden" id="inputInstallCustomID" class="form-control display-inline-block m-r-1 inputPf"
                                   th:field="*{installCustomID}" readonly>
                            <input type="text" id="inputInstallCustom" class="form-control display-inline-block m-r-1 inputPf"
                                   th:field="*{installCustom}"
                                   placeholder="더블클릭을 해주세요"
                                   readonly>
                        <td colspan="2"></td>
                    </tr>
                    </tbody>
                </table>
            </form>
            <span class="form-result float-start"></span>
        </div>

    </div>
    </body>
</section>
</html>
