<!--
  *packageName      : templates.pages.basicMgmt
  *fileName         : machine
  *author           : sooJeong
  *date             : 2024-08-28
  *======================================================
  *DATE             AUTHOR               NOTE
  *------------------------------------------------------
  * 2024-08-28         sooJeong             최초 생성
 -->

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}" lang="ko">

<th:block layout:fragment="css">
    <link rel="stylesheet" type="text/css" th:href="@{/basicMgmt/machine/machine.css}"/>
</th:block>
<th:block layout:fragment="script">
    <script th:src="@{/basicMgmt/machine/machine.js}"></script>
</th:block>
<!--content-->
<section layout:fragment="content">
    <body>
    <loading-form id="loading" class="invisible"></loading-form>
    <div id="contents">
        <div class="menu">
            <div class="page-header">
                ■ 설비 현황 등록
            </div>
            <div class="icon">
                <div class="flx">
                    <button type="button" class="btn btn-info m-r-05" id="btnSearch">조회</button>
                    <button type="button" class="btn btn-success m-r-05" id="btnAdd">등록</button>
                    <button type="button" class="btn btn-success" id="btnDelete">삭제</button>
                </div>
                <div class="flx mt-05">
                    <button type="button" id="btnExcel" class="btn btn-print m-r-05">엑셀</button>
                    <button type="button" id="btnPrint" class="btn btn-print" onclick="window.print()">인쇄</button>
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="panel-body">

                <div class="flx">
                    <div class="div-srh m-r-4">
                        <label for="cboMcTypeSrh" class="lbl-srh">설비유형</label>
                        <select id="cboMcTypeSrh" class="form-control w150px">
                            <option value="">전체</option>
                            <option th:each="option : ${cboMcType}"
                                    th:value="${option.codeID}" th:text="${option.codeName}">
                            </option>
                        </select>
                    </div>
                    <div class="div-srh m-r-4">
                        <label for="inputMcNameSrh" class="lbl-srh">설비명</label>
                        <input type="text" id="inputMcNameSrh" class="form-control" placeholder="설비명 검색"
                               onkeyup="if(window.event.keyCode==13){PlusFinder(event,12,'')}">
                    </div>
                    <div class="div-srh m-r-4">
                        <label for="inputMcNOSrh" class="lbl-srh">관리번호</label>
                        <input type="text" id="inputMcNOSrh" class="form-control" placeholder="관리번호 검색"
                               onkeyup="if(window.event.keyCode==13){PlusFinder(event,12,'')}">
                    </div>

                </div>
            </div>
        </div>
        <div id="main">
            <table id="MCtable" class="striped cell-border table-light-info" style="width:100%">
                <thead>
                <tr>
                    <th>설비유형</th>
                    <th>설비명(모델명)</th>
                    <th>관리번호</th>
                    <th>설치일</th>
                    <th>전기용량</th>
                    <th>스팀용량</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
    </body>

</section>
</html>

