<th:block th:fragment="configFragment">

    <!-- 부트스트랩  -->
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.css">
    <script src="/lib/bootstrap/js/bootstrap.bundle.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <!-- J쿼리 cdn -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- dataTable-->
    <link href="/lib/datatable/datatables.css" rel="stylesheet">
    <script src="/lib/datatable/datatables.js"></script>

    <!--chart.js / time Adaptor(date-fns)-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.3/dist/chart.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns@3.0.0/dist/chartjs-adapter-date-fns.bundle.min.js"></script>

    <!--font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gothic+A1&family=Gowun+Dodum&family=Orbit&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/lib/font/font-awesome/font-awesome.min.css">

    <!--custom-->
    <script type="module" src="/common/loading-form.js"></script>
</th:block>