<th:block th:fragment="navigation">
    <nav>
        <div class="nav m-l-2 m-r-2">
            <img class="navbar-brand img" src="/img/wizard.png" width="60" height="50">
            <ul class="navMenu">
                <li class="dropdown">
                    <a href="#" class="dropdown-menu">기준정보</a>
                    <ul class="dropdown-content">
                        <li class="mt-3"><a href="/basicMgmt/machine">설비관리</a></li>
                        <li class="mt-3"><a href="#">계측기관리</a></li>
                        <li class="mt-3"><a href="#">업체관리</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-menu">에너지 모니터링</a>
                    <ul class="dropdown-content">
                        <li class="mt-3"><a href="#">설비 현황</a></li>
                        <li class="mt-3"><a href="#">설비별 사용현황</a></li>
                        <li class="mt-3"><a href="#">설비별 요금발생 현황</a></li>
                        <li class="mt-3"><a href="#">압력/온도 추이</a></li>
                        <li class="mt-3"><a href="#">경보 알람</a></li>
                        <li class="mt-3"><a href="#">초기 데이터 현황</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-menu">서비스 관리</a>
                    <ul class="dropdown-content">
                        <li class="mt-3"><a href="#">사용실적 보고서</a></li>
                        <li class="mt-3"><a href="#">스마트KPI 전송설정</a></li>
                        <li class="mt-3"><a href="#">스마트KPI 전송내역</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-menu">설비 관리</a>
                    <ul class="dropdown-content">
                        <li class="mt-3"><a href="#">연간점검계획 관리</a></li>
                        <li class="mt-3"><a href="#">월간점검계획 관리</a></li>
                        <li class="mt-3"><a href="#">점검실적 등록</a></li>
                        <li class="mt-3"><a href="#">점검계획 대비 실적조회</a></li>
                        <li class="mt-3"><a href="#">설비별 가동조회</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-menu">전력량 관리</a>
                    <ul class="dropdown-content">
                        <li class="mt-3"><a href="#">Utility사용량 관리</a></li>
                        <li class="mt-3"><a href="#">월 생산량/매출 관리</a></li>
                        <li class="mt-3"><a href="#">에너지단가 추이</a></li>
                        <li class="mt-3"><a href="#">설비간 비교분석</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-menu">시스템 관리</a>
                    <ul class="dropdown-content">
                        <li class="mt-3"><a href="#">사용자 관리</a></li>
                        <li class="mt-3"><a href="#">권한 관리</a></li>
                        <li class="mt-3"><a href="#">메뉴 관리</a></li>
                        <li class="mt-3"><a href="#">운영그룹코드 관리</a></li>
                        <li class="mt-3"><a href="#">운영코드 관리</a></li>
                        <li class="mt-3"><a href="#">로그 관리</a></li>
                    </ul>
                </li>

            </ul>
            <div id="userInfo"></div>
        </div>
    </nav>
</th:block>