html,
body {
    height: 100vh;
    width: 100vw;
    font-family: 'FontAwesome';
    font-weight: 400;
    font-size: 14px;
    color: #555555;
}

a {
    text-decoration: none;
}

body:before, body:after {
    content: " ";
    display: table;
}

body:after {
    clear: both;
}

button {
    border: none;
    outline: none;
    box-shadow: none;
    color: inherit;
}

#userInfo {
    width: 10%;
    background-color: #0d6efd;
}

/*본문 넓이*/
#contents {
    max-width: 1500px;
    margin: 0 auto;
}

#contents .page-header {
    padding: 20px 20px;
    border-bottom: 0px solid;
    font-size: 20px;
    color: #818a91;
    font-weight: 600;
}

/*본문의 메인*/
#contents #main {
    width: 100%;
}

/*flex style */
.flx {
    display: flex;
    flex-direction: row;
}

/*상단 메뉴 관련*/
.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.5rem;
}

.div-srh {
    display: flex;
    flex-direction: row;
    height: fit-content;
}

.lbl-srh {
    text-align: center;
    margin-right: 1rem;
    white-space: nowrap;
    padding: 5px;
}

/*상단 메뉴-날짜 관련*/
.btnDate {
    float: right;
}

#sDate-srh,
#eDate-srh {
    width: 115px;
}


/*input*/
.input-readOnly {
    background-color: #c2fdc3;
}

.input-necessary {
    background-color: #fff2d2;
}

.input-group {
    height: 40px;
    margin-bottom: 2px;
}

.input-cbo {
    flex: 1 1 auto;
    border: var(--bs-border-width) solid var(--bs-border-color);
}

/*정렬*/
.right {
    text-align: right;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.panel-body {
    padding: 20px;
}

.w100 {
    width: 100%;
}

.w100px {
    width: 100px;
}

.w150px {
    width: 150px;
}


.w200px {
    width: 200px;
}

.w250px {
    width: 250px;
}

.m-r-2 {
    margin-right: 15px !important;
}

.m-l-2 {
    margin-left: 15px !important;
}

.m-r-05 {
    margin-right: 5px;
}

.m-r-4 {
    margin-right: 30px !important;
}


.btn-info {
    color: #fff;
    border-color: #59b0cb;
    background: #59c4e4;
}


@media (min-width: 768px) {
    .btn,
    button,
    a {
        outline: none !important;
    }
}

.btn-success {
    color: #fff;
    border-color: #6ea958;
    background: #78bd5d;
}

.btn-print {
    color: #444;
    border-color: #dfdfdf;
    background: #ececec;
}

.panel {
    display: block;
    border: 1px solid #e2e2e2;
    box-shadow: none;
    margin-bottom: 20px;
}

.panel > hr {
    margin: 0;
}

label,
optgroup {
    font-weight: 600;
}

select.form-control {
    padding-top: 0;
    padding-bottom: 0;
    line-height: 29px;
    background: url(../lib/select_icon_black.png) center right 12px no-repeat;
}

.form-control {
    box-shadow: none !important;
}

.page-header h1,
.page-header h2,
.page-header h3,
.page-header h4,
.page-header h5,
.page-header h6 {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
}

h1, h2, h3, h4, h5, h6 {
    outline: none;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1.light, h2.light, h3.light, h4.light, h5.light, h6.light {
    font-weight: 300;
}

.display-inline-block {
    display: inline-block !important; }