html,
body {
    height: 100vh;
    width: 100vw;
    font-family: 'FontAwesome';
    font-weight: 400;
    font-size: 14px;
    color: #555555;
}

button {
    border: none;
    outline: none;
    box-shadow: none;
    color: inherit;
}



#userInfo {
    width: 10%;
    background-color: #0d6efd;
}

/*본문 넓이*/
#contents {
    max-width: 1500px;
    margin: 0 auto;
}

#contents .page-header {
    padding: 20px 20px;
    border-bottom: 0px solid;
    font-size: 20px;
    color: #818a91;
    font-weight: 600;
}

/*본문의 메인*/
#contents #main {
    width: 100%;
}

/*flex style */
.flx {
    display: flex;
    flex-direction: row;
}

/*상단 메뉴 관련*/
.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.5rem;
}

.div-srh {
    display: flex;
    flex-direction: row;
    height: fit-content;
}

.lbl-srh {
    text-align: center;
    margin-right: 1rem;
    white-space: nowrap;
    padding: 5px;
}

/*상단 메뉴-날짜 관련*/
.btnDate {
    float: right;
}

#sDate-srh,
#eDate-srh {
    width: 115px;
}

/*테이블 공통*/
table label {
    vertical-align: top;
}

table.dataTable {
    cursor: pointer;
}

table.dataTable > tbody > tr:hover {
    background-color: #f5f5f5;
}

table.dataTable.cell-border > tbody > tr:first-child > * {
    border-top: 0px;
}

table.dataTable.cell-border > tbody > tr > td {
    border-color: #e8e8e8;
}

table.dataTable > tbody > tr.selected > * {
    box-shadow: inset 0 0 0 9999px #f5f5f5;
    color: #555555;
}

table.dataTable thead tr th {
    text-align: center;
    border: 1px solid #e8e8e8;
}

table.dataTable thead {
    border-color: #bce8f1;
}

/*table-light-info 스타일 */
.table-light-info thead,
.table-light-info thead tr,
.table-light-info thead th {
    background: #d9edf7;
    border-color: #bce8f1 !important;
    color: #3a87ad;
}

/*input*/
.input-readOnly {
    background-color: #c2fdc3;
}

.input-necessary {
    background-color: #fff2d2;
}

.input-group {
    height: 40px;
    margin-bottom: 2px;
}

.input-cbo {
    flex: 1 1 auto;
    border: var(--bs-border-width) solid var(--bs-border-color);
}

/*정렬*/
.right {
    text-align: right;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.panel-body {
    padding: 20px;
}

.w100 {
    width: 100%;
}

.w100px {
    width: 100px;
}

.w150px {
    width: 150px;
}


.w200px {
    width: 200px;
}

.w250px {
    width: 250px;
}

/*add 팝업 페이지*/
#addPop {
    width: 100%;
}

#addPop .page-header {
    margin: 11px 0 0 10px;
    padding-left: 11px;
}

#addPop .page-header h3 span {
    font-size: 16px;
}

#addPop .icon {
    float: right;
    margin-top: 11px;
}

#addPop #main {
    padding: 1rem;
}

#addPop .form-notice {
    color: #cf9b42;
    font-size: 12px;
    letter-spacing: -0.2px;
}

select.form-control {
    background: url(../lib/select_icon_black.png) center right 12px no-repeat;
}

/*네비게이션*/
.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
}

.navMenu {
    margin: 0;
    padding: 0;
    display: flex;
}

.navMenu ul {
    list-style-type: none;
}

.navMenu li {
    /*display: inline-block;*/
    flex: 1;
}

.dropdown {
    position: relative;
    width: 170px;
    text-align: center;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-menu {
    font-weight: bold;
}

.dropdown-menu,
.dropdown-content li a {
    color: #818a91;
}

.dropdown-content {
    background-color: #d9edf7;
    display: none;
    position: absolute;
    margin: 0;
    padding: 1rem;
    top: 100%;
    width: inherit;
    z-index: 1;
}

.dropdown-content a {
    display: block;
}

.dropdown:hover {
    background-color: #d9edf7;
}

.dropdown:hover .dropdown-content {
    background-color: #d9edf7;
    display: block;
}

@media(max-width: 1310px){
    .dropdown > a {
        font-size: 15px;
    }

    .dropdown-content li {
        font-size: 13px;
    }
}
