#addPop {
    width: 100%;
}

#addPop .page-header {
    margin: 11px 0 0 10px;
    padding-left: 11px;
}

#addPop .page-header h3 span {
    font-size: 16px;
}

#addPop .icon {
    float: right;
    margin-top: 11px;
}

#addPop #main {
    padding: 1rem;
}

#addPop .form-notice {
    color: #cf9b42;
    font-size: 12px;
    letter-spacing: -0.2px;
}