<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="wizard.fems.common.commonMapper">

    <select id="getCmCode" resultType="wizard.fems.common.dto.CMCode" parameterType="String">
        select codeID
             , codeName
        from cm_Code
        where groupCode = #{groupCode}
    </select>

    <select id="getUser" resultType="wizard.fems.common.dto.User" parameterType="String">
        select id
             , name
             , password
             , authTypeID
             , authType = 'ADMIN'
        from mt_user
        where id = #{id}
    </select>



</mapper>